.container {
    max-width: 800px;
    margin: 0 auto;
    padding:auto;
}

.post-detail {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 30px;
}

.post-detail img {
    max-width: 50%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.post-detail p {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.6;
}

.post-detail h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
}

.post-detail a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 10px;
    transition: background-color 0.3s;
}

.post-detail a.delete-btn {
    background-color: #dc3545; /* Red color */
}

.post-detail a:hover {
    background-color: #0056b3;
}

.post-detail .author {
    font-style: italic;
}