
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%}{% endblock%}</title>

    <link rel="stylesheet" href="{% static 'navi.css' %}">
    <script src="https://kit.fontawesome.com/ef14bb597e.js" crossorigin="anonymous"></script>

</head>
<body>
    <header>
       {% include 'dashboard/nav.html' %}
    </header>
    <div class="start">
        <div class="content">
            {% if messages %}
            {% for mess in messages %}
                <p>{{ mess }}</p>
            {% endfor %}
        {% endif %}
            {% block content %}{% endblock%}
        </div>
        
    </div>
   <!-- Your HTML code -->
<!-- Your HTML code -->
<script>
   function openProfile() {
    // Perform redirection to the profile page using the URL template tag
    window.location.href = "{% url 'profile' %}";
  }
</script>
</body>
</html>

